google-cloud-pubsub 
google-cloud-firestore 
firebase-admin 
vertexai 
googlemaps 
requests
polyline
geopy
firebase-admin
firebase-functions
googlemaps
google-cloud-firestore
python-dotenv

